.body {
   font-family: 'Roboto', sans-serif;
}
.link:focus,
.link:hover
{
  color: #2196F3;
  text-decoration: none;
}
.link1:focus{
text-decoration: none;
}

.colorblue{
  color: #2196F3; font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   letter-spacing: 0.03em;
   text-align: left;
}
.colorbluew {
  background-color: #2F303A;
   color: #2196F3; font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   letter-spacing: 0.03em;
   text-align: left;
}
.colorblack {
 color: #000000; font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
}
.colorwhite { 
background-color:#2F303A;
color: #FFFFFF;  font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
}
.background {
   background-color:#2196F3;
   color:#FFFFFF;
}
.button{
   cursor: pointer;
}
.navi{
  color: #161616;
  font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
}
.h1style{
  color: #FFFFFF;
  font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
}
.blue{color:  #000; 
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  
  
}
.grey{color: #757575;
  font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
}
.button1{
cursor: pointer;
color: #FFFFFF;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
background-color: #2196F3;
}

.header{
  color: #212121;
  font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}
.text{
  color:#757575;
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.h2d{
  color:#212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.name{ color: #212121;
  font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.work{ color: #757575;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.footer{ color: #FFFFFF99;
  background-color: #2F303A;
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.adress{color: #FFFFFF;background-color: #2F303A;
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.black{
  color: #212121;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
}
.header1{ color: #212121;
  font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
}
.text1{color: #757575;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}
.containerheader {
display: flex;
width: 1600px ;
height: 80px ;
background-color: #FFFFFF;
justify-content: space-between;
align-items: flex-start;
 }

 .navi{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  

 }
.mail-set{
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

 .page-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   background-color: #607d8b;
 }
 .logo {
   padding: 15px;
   border-radius: 4px;
   text-decoration: none;
 }
 
.containerh1 {
width: 1600px;
height: 600px;
background: #2F303A;
}


.h1set{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.butset{
   display: flex;
   justify-content: center;
   text-align: center;
}
.containerlorem{
display: flex;
width: 1170px;
height: 101px;
justify-content: center;
background-color: #2196F3;
}
.loremset{
  display: flex;
}

.containerphoto{
display: flex;
width: 1170px;
height: 386px;
margin: 10px;
background-color: #2196F3;
}

.photos{
background-color: #2196F3;
display: flex;
list-style: none;
}














.containerteam{
width: 1170px;
height: 368px;
left: 215px;
top: 1635px;
margin: 10px auto;
display: flex;
color: #F5F4FA;
}
.team{
width: 270px;
height: 260px;
left: 515px;
top: 1635px;
list-style: none;
display: flex;
gap: 30px;
}